header {
  background-color: #aab7f0;
  height: 60px;
  color: white;
  font-size: 32px;
  line-height: 60px;
  svg {
    color: #303951;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 720px;
  }
  span {
    vertical-align: middle;
  }
}
