.add {
  position: relative;
  width: 60%;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .title, .description {
    margin-top: 40px;
  }

  input {
    width: 100%;
    height: 60px;
  }

  textarea {
    width: 100%;
    height: 150px;
  }


  .button {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20%;
    width: 70%;
    left: 15%;

    button {
      width: 150px;
      height: 40px;
      border: none;
      font-size: 16px;
    }
  }
  .submit {
    background-color: #fd6d83;
  }

  .cancel {
    background-color: #f1f2f6;
  }

}
