.note-details {
  position: relative;
  width: 80%;
  margin: 0 auto;

  .note-sidebar {
    background-color: #f1f2f6;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    width: 20%;
    height: 100%;

    a {
      text-decoration: none;
      color: black;
      padding: 16px;
      width: 13rem;

      &:focus {
        background-color: #dfe4ea;
      }
    }
  }

  .note-detail {
    position: absolute;
    width: 70%;
    right: 0;

    h1 {
      text-align: center;
    }
  }

  .details-button {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20%;
    width: 70%;
    left: 30%;

    button {
      width: 150px;
      height: 40px;
      border: none;
      font-size: 16px;
    }
  }

  .delete {
    background-color: #fd6d83;
  }

  .return {
    background-color: #f1f2f6;
  }
}
