.notes {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .note-list {
    padding: 16px;
    margin: 32px;

    &:nth-child(2n+1) {
      background-color: #f1a686;
    }

    &:nth-child(2n) {
      background-color: #f6d698;
    }

    .note-link {
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none;
    }
  }
}
